body {
    margin: 0;
    padding: 0;
}

img {
    background-size: cover;
}

main {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 14fr 2fr;
    height: 100%;
}

.container, h3, .boost, nav {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boost, .container button:hover {
    cursor: pointer;
}

.container {
    text-align: center;
    padding-top: 15em;
}

.info {
    margin-top: 10px;
}

.info p {
    margin: 0;
}

#button-click {
    width: 100px;
    height: 100px;
}

#coins {
    margin-top: 5px;

    color: black;
    background:rgb(142, 99, 56);
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
}

#click_power, #auto_click_power {
    font-style: italic;
}

#click_power {
    color: rgb(0, 255, 42);
}

#auto_click_power {
    color: rgb(143, 161, 40);
}

/* Бусты */
aside {
    padding-left: 40px;
    padding-top: 0;
}

h3 {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.boost {
    width: 100px;
    border-radius: 10px;
    margin: 0 5px 5px 0;
    background: rgb(50, 11, 87);
    font-size: 14px;
}

.boost_1 {
    background-color: orange;
}

/* Выход */
nav {
    font-size: 16px;
    text-align: right;
}

.username {
    color: rgb(114, 212, 72);
}

nav a {
    position: relative;
    top: 5px;
    color: rgb(146, 146, 214);
}

nav a:hover {
    border-bottom: 1px solid;
}

#door {
    width: 20px;
    height: 20px;
}

.achievements {
    margin-top: 20px; 
    padding-right: 30px; 
}

.achievements h3 {
    margin: 0;
    margin-bottom: 10px;
}

.achievements h4 {
    float: left;
    color: orange;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 5px solid green;
}

.p-ach {
    float: left;
    margin: 0;
    margin-bottom: 5px;

    color: white;
}

#ach {
    color: green;
}

.ach-cp h4 {
    margin-top: 20px;
}

#click_p {
    color: red;
}