{% load static %}

<html lang="en">
<head>
    <title>Лучший кликер на планете</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <img src="{% static 'img/i.png' %}" alt="cover" width="100%" height="100%"> 
    <main class="app"> 
        <div class="container">  
            <img onclick="call_click()" id="button-click" src="{% static 'img/asura.png' %}" alt="cover">
            <div id='coins'>{{ core.coins }}</div>
            <div class="info">
                <p>Мощь клика: <span id="click_power">{{ core.click_power }}</span></p>
                <p>Мощь автоматического клика: <span id="auto_click_power">{{ core.auto_click_power }}</span></p>
            </div> 

        </div> 

        <aside class="boosts" id="boosts">   
            <h3>Бусты</h3>   
            <div class="boosts-holder" id="boosts-holder">   
                {% for boost in boosts %}
                    <button class="boost boost_{{boost.type}}" id="boost_{{boost.id}}" onclick="buy_boost({{ boost.id }})">  
                        <p>lvl: <span id="boost_level">{{ boost.level }}</span></p>   
                        <p>+<span id="boost_power">{{ boost.power }}</span></p>   
                        <p><span id="boost_price">{{ boost.price }}</span></p>  
                    </button>   
                {% endfor %}   
            </div>   
        </aside>
        
        <nav class="nav"> 
            Привет, <span class="username">{{ user.username }}</span>
            <a href="{% url 'logout' %}"><img id="door" src="{% static 'img/door-open.svg' %}" alt="exit" title="Выход"></a> 
            
            <div class="achievements">
                <h3>Достижения</h3>
                <hr>
                <h4>Количество монет</h4>
                <p class="p-ach">1000 монет
                    {% if core.coins >= 1000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">10 000 монет
                    {% if core.coins >= 10000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">100 000 монет
                    {% if core.coins >= 100000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">1 000 000 монет
                    {% if core.coins >= 1000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">1 500 000 монет
                    {% if core.coins >= 1500000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">2 000 000 монет
                    {% if core.coins >= 2000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">3 000 000 монет
                    {% if core.coins >= 3000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">4 000 000 монет
                    {% if core.coins >= 4000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">5 000 000 монет
                    {% if core.coins >= 5000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">10 000 000 монет
                    {% if core.coins >= 10000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">50 000 000 монет
                    {% if core.coins >= 50000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">100 000 000 монет
                    {% if core.coins >= 100000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">500 000 000 монет
                    {% if core.coins >= 500000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>
                <p class="p-ach">1 000 000 000 монет
                    {% if core.coins >= 1000000000 %}
                        <span id="ach">✔</span>
                    {% endif %}
                </p>

                <div class="ach-cp">
                    <h4>Сила клика</h4>
                    <p class="p-ach"><span id="click_p">100</span> силы клика
                        {% if core.click_power >= 100 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">200</span> силы клика
                        {% if core.click_power >= 200 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">500</span> силы клика
                        {% if core.click_power >= 500 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">1000</span> силы клика
                        {% if core.click_power >= 1000 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">5000</span> силы клика
                        {% if core.click_power >= 5000 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">10 000</span> силы клика
                        {% if core.click_power >= 10000 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">50 000</span> силы клика
                        {% if core.click_power >= 50000 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">100 000</span> силы клика
                        {% if core.click_power >= 100000 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                    <p class="p-ach"><span id="click_p">1 000 000</span> силы клика
                        {% if core.click_power >= 1000000 %}
                            <span id="ach">✔</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </nav>
    </main> 
</body>
</html>