{% load static %}

<html lang="en">
<head>
    <title>Лучший кликер на планете</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <img src="{% static 'img/i.png' %}" alt="cover" width="100%" height="100%"> 
    <main class="app"> 
        <div class="container">  
            <img onclick="call_click()" id="button-click" src="{% static 'img/asura.png' %}" alt="cover">
            <div id='coins'>{{ core.coins }}</div>
            <div class="info">
                <p>Мощь клика: <span id="click_power">{{ core.click_power }}</span></p>
                <p>Мощь автоматического клика: <span id="auto_click_power">{{ core.auto_click_power }}</span></p>
            </div> 

        </div> 

        <aside class="boosts" id="boosts">   
            <h3>Бусты</h3>   
            <div class="boosts-holder" id="boosts-holder">   
                {% for boost in boosts %}
                    <button class="boost boost_{{boost.type}}" id="boost_{{boost.id}}" onclick="buy_boost({{ boost.id }})">  
                        <p>lvl: <span id="boost_level">{{ boost.level }}</span></p>   
                        <p>+<span id="boost_power">{{ boost.power }}</span></p>   
                        <p><span id="boost_price">{{ boost.price }}</span></p>  
                    </button>   
                {% endfor %}   
            </div>   
        </aside>
        
        <nav class="nav"> 
            Привет, {{ user.username }} 
            <a href="{% url 'logout' %}"><img id="door" src="{% static 'img/door-open.svg' %}" alt="exit" title="Выход"></a> 
        </nav>
    </main> 
</body>
</html>